.App {
  background-color: #0e2e3b;
  background-image: url("./casey-horner-unsplash.png");
  background-size: 100% 100%;
  color: #d8d7c3;
  max-width: 800px;
  display: block;
  margin: 0px auto;
  padding: 50px;
  border-radius: 10px;
  font-family: "Julius Sans One", sans-serif;
  font-weight: bolder;
  font-variant: small-caps;
  font-size: 100%;
}

@media only screen and (max-width: 767px) {
  .App {
    min-width: 320px;
    font-size: 100%;
    padding: 10px;
  }
}