.Conversion .btn {
    margin-left: 10px;
    background-color: #0d424e;
    color: #d8d7c3;
}

.Conversion .active {
    background-color: #166678;
    pointer-events: none;
}

.Conversion .currentTemp {
    font-size: 10vw;
    color: #d8d7c3;
    font-weight: 900;
}

h1 {
    font-family: "Major Mono Display", monospace;
}