.Conversion .btn {
    background-color: #166678;
    color: #d8d7c3;
}

.Conversion .active {
    background-color: #0d424e;
    pointer-events: none;
}

.Conversion .float-right {
    margin-left: 10px;
}