.ForecastPreview {
    text-align: center;
    padding: 20px 0;
    transition: all 300ms ease-in-out;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.ForecastPreview h5 {
    font-size: 2vw;
}

.ForecastPreview:hover {
    color: #d8d7c3;
    background-color: #0e2e3b;
    cursor: pointer;
    opacity: 0.6;
}