.ForecastPreview {
    text-align: center;
    padding: 20px 0;
    font-size: 2vw;
}

.futureDate {
    transition: all 300ms ease-in-out;
    margin: 0;
    padding: 20px;
}

.futureDate:hover {
    color: #d8d7c3;
    background-color: #0e2e3b;
    cursor: pointer;
    opacity: 0.6;
}