.Search .btn {
    background-color: #166678;
    color: #d8d7c3;
}

.Search .active {
    background-color: #0d424e;
    pointer-events: none;
}

.Search .float-right {
    margin-left: 10px;
}

.Search .citySearch {
    padding: 20px 0;
}