/* Current Weather DIV */

.WeatherInfo {
    margin-top: 50px;
}

div.center {
    padding-top: 20px;
    font-size: 4vw;
}

/* Current Conditions DIV */

.WeatherInfo .current-conditions ul {
    display: flex;
    justify-content: space-evenly;
    background-color: #166678;
    border-radius: 4px;
    font-size: 2vw;
    padding: 5px;
    opacity: .7;
    margin-top: 20px;
}

.WeatherInfo li {
    display: inline;
    padding: 0 10px;
}

@media screen and (max-width: 767px) {
    div.center {
        padding-top: 0px;
        font-size: 4vw;
    }
    .WeatherInfo .current-conditions ul {
        flex-direction: column;
    }
}