/* Current Weather DIV */

.WeatherInfo {
    margin-top: 50px;
}

.WeatherInfo .currentWeather {
    padding: 10px;
}

.WeatherInfo h1 {
    font-family: "Major Mono Display", monospace;
}

/* float-Left */

.WeatherInfo .float-left {
    display: flex;
    margin: 0 auto;
    text-align: left;
    padding-left: 10px;
    font-size: 2vw;
}

.Conversion .float-center {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}

.city {
    font-size: 7vw;
}

/* float-center */

.WeatherInfo .weather-description {
    text-align: center;
    margin-top: 0px;
    font-size: 40vw;
}

/* Current Conditions DIV */

.WeatherInfo .current-conditions ul {
    display: flex;
    justify-content: center;
    background-color: #166678;
    border-radius: 4px;
    font-size: 3vw;
    padding: 5px;
    opacity: 70%;
    margin-top: 20px;
}

.WeatherInfo li {
    display: inline;
    padding: 0 10px;
}

.WeatherInfo .weather-description {
    width: 60px;
    animation: wiggle2 5s alternate linear infinite both;
}

@keyframes wiggle2 {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(200%);
    }
}